.rootCentredDiv {
  /* margin: 45px 95px 45px 95px; */
  justify-content: center;
  text-align: center;
  /* border: 1px solid grey; */
}

.catGroup {
  text-align: center;
  max-width: 350px;
  min-width: 200px;
  height: 150px;
  box-sizing: border-box;
  margin: 2rem;
  flex: 1;
}

.avaStyle {
  height: 120px;
  border-radius: 50%;
}

.categoryText {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.selectedTab {
  color: black;
  border-radius: 5px 5px 0 0;
  border-bottom: 4px solid #aaa !important ;
}

.panelRoot {
  border-top: 2px solid #000e;
  border-bottom: 2px solid #000e;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/gritty gradient6.png");
}

.catText {
  margin-top: 120px;
  font-size: 45px;
  color: azure;
}

.panelContent {
  display: flex;
  flex-direction: row;
}

.panelFliter {
  box-sizing: border-box;
  z-index: 10;
  bottom: 0px;
  top: 72px;
  flex-shrink: 0;
  align-self: flex-start;
  height: fit-content;
  border-right: 1px solid grey;
  width: 340px;
}

.filtContent {
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  user-select: none;
}

.panelDivs {
  flex: 1;
  width: 350px;
  height: fit-content;
}

.dropDwnstyle {
  margin-left: 20px;
  width: 120px;
  border-radius: 6px;
  padding: 3px;
}

.catFiltContent {
  cursor: pointer;
  display: inline-flex;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}

.containerMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: auto;
  align-content: start;
}
.items {
  flex: 0 0 auto;
  margin: 20px;
  margin-left: 52px;
}

.hiddenele {
  visibility: hidden;
}

.rangeSliderStyle {
  margin: 20px;
  width: 180px;
}

/* CSS */
.tagsItem {
  width: fit-content;
  margin-bottom: 10px;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 20px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  margin-left: 2px;
}

.checkBoxItem {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  margin-bottom: 12px;
}

.listCat {
  list-style: none;
}

.catItem {
  text-align: initial;
  padding: 10px;
}

.containerArtist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: auto;
  align-content: flex-start;
}
.itemCard {
  flex: 0 0 auto;
  margin: 7px;
}

.button-bar {
  display: none;
  padding: 2rem;
  background: gray;
  position: sticky;
  bottom: 0;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .panelFliter {
    display: none;
  }

  .button-bar {
    display: block;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    width: 100%;
    height: 60px;
    padding: 2px 0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    bottom: 0;
  }

  .buttonFilt {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: #30f186;
    /* border: 1px solid rgb(32, 129, 226); */
    color: black;
    border-radius: 20px;
  }

  .catGroup {
    text-align: center;
    max-width: 40px !important;
    min-width: 1px;
    height: 50px;
    box-sizing: border-box;
    margin: 2rem;
    flex: 1 1;
  }

  .avaStyle {
    height: 60px;
    border-radius: 50%;
  }

  .panelContent {
    display: flex;
    flex-direction: column !important;
  }
  .rootCentredDiv {
  }

  .tabStyle {
    display: flex;
    justify-content: flex-end;
  }

  .containerArtist {
    margin: 13px !important;
  }
}
